body{
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:#40514E;
}
a{
    color: rgb(79, 53, 194);
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px ;
    text-decoration: none ;
}
a:hover{
    color: rgb(222, 233, 240);
}

hr{
    border: dotted #848686 6px;
    border-bottom: none;
    margin: 100px auto;
    width: 4%;
}
p{
    line-height: 2;
}
h1{
    color: rgb(131, 107, 146);
    margin: 50px auto 0 auto;
    font-family: 'Lemon', cursive;
    font-size: 5.625rem;
}
h2{
    color: rgb(79, 115, 231);
    font-family: 'Poppins', sans-serif;
    font-size:2.5rem ;
}
h3{
    font-family: 'Montserrat', sans-serif;
    
}

.top-container{
    background-color: #cfadee;
    position: relative;
    padding-top: 100px;
  
}
.middle-container{
    background-color: rgb(216, 213, 218);
   margin: 100px 0;
}
.bottom-container{
    background-color: rgb(80, 50, 109);
}
.intro{
    width: 30%;
    margin: auto;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 20px;
}
.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.myskills{
    width: 50%;
    float: left ;
   margin-right: 30px;
}
.myskills2{
    width: 50%;
    float: right ;
   margin-left: 30px;
}

.contactmassage{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #3f33de;
    background-image: -webkit-linear-gradient(top, #3f33de, #3d1ea1);
    background-image: -moz-linear-gradient(top, #3f33de, #3d1ea1);
    background-image: -ms-linear-gradient(top, #3f33de, #3d1ea1);
    background-image: -o-linear-gradient(top, #3f33de, #3d1ea1);
    background-image: linear-gradient(to bottom, #3f33de, #3d1ea1);
    -webkit-border-radius: 50;
    -moz-border-radius: 50;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #6071d4;
    background-image: -webkit-linear-gradient(top, #6071d4, #4f3ddb);
    background-image: -moz-linear-gradient(top, #6071d4, #4f3ddb);
    background-image: -ms-linear-gradient(top, #6071d4, #4f3ddb);
    background-image: -o-linear-gradient(top, #6071d4, #4f3ddb);
    background-image: linear-gradient(to bottom, #6071d4, #4f3ddb);
    text-decoration: none;
  }

.copyright{
    color: rgb(224, 224, 224);
    font-size: 0.75rem;
    padding: 20px 0;
}