body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;

}

a {
  color: rgb(242, 241, 245);
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: rgb(222, 233, 240);
}


.container-fluid {
  padding: 0% 0% 0%;

}



h1 {
  color: rgb(20, 19, 20);
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
}

h2 {
  color: rgb(79, 115, 231);
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;

}

.banner-text h1 {
  font-size: 50px;

}


.navbar {

  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-weight: bold;
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1rem;
  font-weight: 100;
}

.downlaod-button {
  margin: 5% 3% 5% 0;
}

.bannerimage {
  overflow: hidden;
}










.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.myskills {
  width: 50%;
  float: left;
  margin-right: 30px;
}

.myskills2 {
  width: 50%;
  float: right;
  margin-left: 30px;
}

.contactmassage {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #3f33de;
  background-image: -webkit-linear-gradient(top, #3f33de, #3d1ea1);
  background-image: -moz-linear-gradient(top, #3f33de, #3d1ea1);
  background-image: -ms-linear-gradient(top, #3f33de, #3d1ea1);
  background-image: -o-linear-gradient(top, #3f33de, #3d1ea1);
  background-image: linear-gradient(to bottom, #3f33de, #3d1ea1);
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #6071d4;
  background-image: -webkit-linear-gradient(top, #6071d4, #4f3ddb);
  background-image: -moz-linear-gradient(top, #6071d4, #4f3ddb);
  background-image: -ms-linear-gradient(top, #6071d4, #4f3ddb);
  background-image: -o-linear-gradient(top, #6071d4, #4f3ddb);
  background-image: linear-gradient(to bottom, #6071d4, #4f3ddb);
  text-decoration: none;
}

.copyright {
  color: rgb(224, 224, 224);
  font-size: 0.75rem;
  padding: 20px 0;
}

/* ====================================================
                    work
===================================================*/
.heading-work {
  padding-top: 6vh;
}

.heading-work h5 {
  font-family: "Fira Code", monospace;
  font-weight: 600;
  color: var(--head);
}

.heading-work h1 {
  font-weight: 800;
  font-size: 2.6rem;
  color: var(--firstcolor);
}

.heading-work p {
  color: var(--paragraph);
}

.work {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.work::after {
  content: "";
  position: absolute;
  width: 8px;
  background: #c5c5c5;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: 0px;
}

.container2 {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container2 img {
  margin-left: 30px;
  position: relative;
  top: 50px;
}

.content {
  margin-top: 30px;
}

.content h4 {
  font-weight: 600;
}

.content a {
  color: var(--firstcolor);
  position: relative;
  top: 30px;
  padding: 10px 15px;
  border: 2px solid var(--firstcolor);
  border-radius: 10px;
  font-family: "Fira Code", monospace;
  transition: ease-in-out 0.5s;
  font-weight: 600;
}

.content a:hover,
.content a:focus {
  color: #fff;
  background: var(--firstcolor);
  outline: none;
  box-shadow: none;
}

.container2.left {
  left: 0;
}

.container2.right {
  left: 50%;
}

.container2.right::after {
  left: -8px;
}

.container2::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  top: calc(50% - 1px);
  right: 0px;
  background: #c5c5c5;
  z-index: 1;
}

.container2.right::before {
  left: 8px;
}

.container2 .icon {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  /* padding: 9px 0; */
  top: calc(50% - 16px);

  border: 5px solid #7209b7;
  border-radius: 40px;
  text-align: center;
  margin-right: -10px;
  color: white;
  z-index: 1;
}

.container2.left .icon {
  right: 56px;
}

.container2.right .icon {
  left: 56px;
}

.container2 .content {
  padding: 30px 90px 30px 30px;

  position: relative;
  border-radius: 0 500px 500px 0;
}

.container2.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container2 .content h2 {
  margin: 0 0 10px 0;

  font-weight: 600;
  color: #3b3b3b;
}

.container2 .content p {
  margin: 0;

  line-height: 22px;
  color: #747474;
}

/* ====================================================
                    my work
===================================================*/
.color1 {
  background-color: #3f33de;
  width: 100%;
  height: 200px;
  box-shadow: 5px 5px 5px #6071d4;
  margin: 10px;
}

/* ====================================================
                    contact
===================================================*/
.contact {
  padding: 20vh 0vh;
}

.contact h5 {
  font-family: "Fira Code", monospace;
  font-weight: 600;
  color: var(--head);
}

.contact h1 {
  font-size: 2.7rem;
  font-weight: 800;
  color: var(--firstcolor);
}

.contact p {
  color: var(--paragraph);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1.5em;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px #a7a7a7;
  border-radius: 15px;
}

form label {
  font-size: 0.9rem;
}

form input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #a7a7a7;
  transition: ease-out 0.5s;
}

form input:focus {
  outline: none;
  border-bottom: 2px solid var(--head);
}

form textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #a7a7a7;
  transition: ease-out 0.5s;
}

form textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--head);
}

form button {
  width: 30%;
  padding: 10px 15px;
  background-color: var(--sceondcolor);
  border-radius: 10px;
  color: #fff;
  border: none;
  transition: ease-in-out 0.5s;
}

form button:hover,
form button:focus {
  border-radius: 30px;
  box-shadow: 0 0 10px #cf87ff;
  outline: none;
  box-shadow: none;
}

@media (max-width: 767.98px) {
  .work::after {
    left: 90px;
  }

  .container2 {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container2::before {
    width: 30px;
  }

  .container2.right {
    left: 0%;
  }

  .container2.left::after,
  .container2.right::after {
    left: 82px;
  }

  .container2.left::before,
  .container2.right::before {
    left: 60px;
    border-color: transparent var(--sceondcolor) transparent transparent;
  }

  .container2.left .date,
  .container2.right .date {
    right: auto;
    left: 15px;
  }

  .container2.left .icon,
  .container2.right .icon {
    right: auto;
    left: 12px;
  }

  .container2.left .content,
  .container2.right .content {
    padding: 10px 10px 10px 10px;
  }

}